{% extends "layout/base.html" %}

{% block 'title'%} Home {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
{% endblock  %}

{% block 'content' %}
<div class="container">
    
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center mt-5">
        <div class=" col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease">
            <a class="text-decoration-none text-dark" href="{% url "mantenimiento_home" %}">
            <div class="card-header">Mantenimiento</div>
            <div class="card-body">
            <h5 class="card-title">Monitoreo y Control</h5>
            <p class="card-text">Gestiona los ciclos de mantenimiento en diferentes ramas.</p>
            </div>
            </a>
        </div>

        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a type="button" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-header">?</div>
            <div class="card-body">
            <h5 class="card-title">En desarollo</h5>
            <p class="card-text">Esta app se encuentra en proceso de desarollo actualmente.</p>
            </div>
            </a>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Denegado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                esta app no esta avilitada por ahora
                </div>
            </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}