{% extends "layout/base.html" %}

{% block 'title'%} Home {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
{% endblock  %}

{% block 'content' %}
<div class="container">
    
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-between align-items-center mt-5">
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease">
            <div class="card-header">Mantenimiento</div>
            <div class="card-body">
            <h5 class="card-title">Visualizar y Controlar</h5>
            <p class="card-text">Control de las maquinarias y equipos para su correcto funcionamiento.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary mb-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Header</div>
            <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}