{% extends "layout/base.html" %}

{% block 'title'%} Cronograma de alertas {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_home" %}">Mantenimiento</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_area" %}">Area</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="">Cronograma de Alertas</a></li>
{% endblock  %}


{% block 'content' %}
<div class="container mt-5">

{% for alerta in alertas %}

    {% if alerta.dias_restantes < 7 %}
        <div class="alert alert-danger text-center rounded-pill mt-3 alerta-peligro" role="alert">
            <h3>{{ alerta.area.nombre }}</h3>
            <p>Días restantes para el mantenimiento: {{ alerta.dias_restantes }}</p>
            <p>Tipo de mantenimiento: {{ alerta.area.tipo_de_mantenimiento }}</p>
            <p>Encargado del área: {{ alerta.area.encargado }}</p>
            {% if alerta.dias_restantes <= 1000000 %}
                <form method="post" action="{% url 'mantenimiento_alertas' %}">
                    {% csrf_token %}
                    <input type="hidden" name="area_id" value="{{ alerta.area.id }}">
                    <button class="btn btn-success" type="submit">Mantenimiento realizado</button>
                </form>
            {% else %}
                <p>Mantenimiento no requerido</p> 
            {% endif %}
        </div>
    {% else %}
    <div class="alert alert-success text-center rounded-pill mt-3 alerta-sin-peligro" role="alert">
        <h3>{{ alerta.area.nombre }}</h3>
        <p>Días restantes para el mantenimiento: {{ alerta.dias_restantes }}</p>
        <p>Tipo de mantenimiento: {{ alerta.area.tipo_de_mantenimiento }}</p>
        <p>Encargado del área: {{ alerta.area.encargado }}</p>
        {% if alerta.dias_restantes <= 1000000 %}
            <form method="post" action="{% url 'mantenimiento_alertas' %}">
                {% csrf_token %}
                <input type="hidden" name="area_id" value="{{ alerta.area.id }}">
                <button class="btn btn-success" type="submit">Mantenimiento realizado</button>
            </form>
        {% else %}
            <p>Mantenimiento no requerido</p> 
        {% endif %}
    </div>    
    {% endif %}

{% endfor %}
</div>
{% endblock %}
