{% extends "layout/base.html" %}

{% block 'title'%} Cronograma de alertas {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_home" %}">Mantenimiento</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_area" %}">Area</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "area_alerta_mantenimiento" %}">Cronograma de Alertas</a></li>
{% endblock  %}


{% block 'content' %}
<div class="container mt-5">

    <form class="d-flex container mb-5" role="search" action="{% url "area_alerta_mantenimiento" %}" method='GET'>
        <input class="form-control me-2" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">buscar</button>
    </form>

{% for alerta in alertas %}
    {% if alerta.dias_restantes < 7 %}
        <div class="alert alert-danger text-center rounded-pill mt-4 alerta-peligro" role="alert">
            <h3>Area: {{ alerta.area.nombre }}</h3>
            <div class="d-flex justify-content-between container">
                <p><b>Días restantes para el mantenimiento:</b> {{ alerta.dias_restantes }}</p>
                <p><b>Tipo de mantenimiento:</b> {{ alerta.area.tipo_de_mantenimiento }}</p>
                <p><b>Encargado del área:</b> {{ alerta.area.encargado }}</p>
            </div>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}-{{ area.id }}">
                Mantenimineto realizado 
            </button>
                <div class="modal fade" id="modal-{{ forloop.counter }}-{{ area.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esta seguro de dar por echo el mantenimineto de el area "{{ alerta.area.nombre }}"
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <form method="post" action="{% url 'area_alerta_mantenimiento' %}">
                                {% csrf_token %}
                                <input type="hidden" name="area_id" value="{{ alerta.area.id }}">
                                <button class="btn btn-success" type="submit">Estoy seguro</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    {% else %}
        <div class="alert alert-success text-center rounded-pill mt-4 alerta-sin-peligro" role="alert">
            <h3>Area: {{ alerta.area.nombre }}</h3>
            <div class="d-flex justify-content-between container">
                <p><b>Días restantes para el mantenimiento:</b> {{ alerta.dias_restantes }}</p>
                <p><b>Tipo de mantenimiento:</b> {{ alerta.area.tipo_de_mantenimiento }}</p>
                <p><b>Encargado del área:</b> {{ alerta.area.encargado }}</p>
            </div>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}-{{ area.id }}">
                Mantenimineto realizado 
            </button>
                <div class="modal fade" id="modal-{{ forloop.counter }}-{{ area.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esta seguro de dar por echo el mantenimineto de el area "{{ alerta.area.nombre }}"
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <form method="post" action="{% url 'area_alerta_mantenimiento' %}">
                                {% csrf_token %}
                                <input type="hidden" name="area_id" value="{{ alerta.area.id }}">
                                <button class="btn btn-success" type="submit">Estoy seguro</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
        </div>    
    {% endif %}
{% endfor %}
</div>
{% endblock %}
