{% extends "layout/base.html" %}

{% block 'title'%} Mantenimiento {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_home" %}">Mantenimiento</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="">Area</a></li>
{% endblock  %}

{% block 'content' %}
<div class="container">
    
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center mt-5">
        <div class="col rounded-4 card text-dark bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a class="text-decoration-none text-dark" href="{% url "mantenimiento_alertas" %}">
            <div class="card-header">Cronograma</div>
            <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <div class="card-header">Areas</div>
            <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}