{% extends "layout/base.html" %}

{% block 'title'%} Mantenimiento {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "home" %}">Home</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="{% url "mantenimiento_home" %}">Mantenimiento</a></li>
    <li class="breadcrumb-item"><a class="text-secondary"href="">Area</a></li>
{% endblock  %}

{% block 'content' %}
<div class="container">
    
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center mt-5">
        <div class="col rounded-4 card text-dark bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a class="text-decoration-none text-dark" href="{% url "area_alerta_mantenimiento" %}">
            <div class="card-header">Cronograma</div>
            <div class="card-body">
            <h5 class="card-title">Alertas</h5>
            <p class="card-text">Visualizar  y controlar las alertas en los cronogramas de cada area del centro.</p>
            </div>
            </a>
        </div>
        <div class="col rounded-4 card text-dark bg-body-tertiary m-3 carta-home" style="max-width: 18rem; transition: background-color 0.5s ease;">
            <a class="text-decoration-none text-dark" href="{% url "area_vista_mantenimiento" %}">
            <div class="card-header">Gestión</div>
            <div class="card-body">
            <h5 class="card-title">Visualizar y Editar</h5>
            <p class="card-text">Llevar a cabo la gestión, visualización y edición de las diferentes areas del centro.</p>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}